<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  if title  %}
        <title>{{ title }}</title>
    {% else %}
        <title>Unknown title</title>
    {% endif %}
</head>
<body>
    <div class="navbar">
        <!--   put in if statement to check for logged in and  display from here   -->
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('add') }}">Add a new post</a>
        <!-- to here -->
            <a href="{{ url_for('logout') }}">Logout</a>

        <a href="{{ url_for('register') }}">Register</a>
    </div>
    {% block body_content %}{% endblock %}
</body>
</html>